DB_CONTAINER_NAME = riwi-cine-db
POSTGRES_USER = nodejs
POSTGRES_PASSWORD = 123456
POSTGRES_DB = postgres

APP_CONTAINER_NAME = riwi-cine-backend
APP_PORT = 3000

DB_CPU_LIMIT = 2
DB_MEM_LIMIT = 512MB

APP_CPU_LIMIT = 2
APP_MEM_LIMIT = 512MB