DB_CONTAINER_NAME = riwi-cine-db
POSTGRES_USER = nodejs
POSTGRES_PASSWORD = 123456
POSTGRES_DB = postgres
POSTGRES_PORT = 5432


APP_CONTAINER_NAME = riwi-cine-backend
APP_PORT = 3000

DB_CPU_LIMIT = 2
DB_MEM_LIMIT = 512MB

APP_CPU_LIMIT = 2
APP_MEM_LIMIT = 512MB

NODE_ENV = development

JWT_SECRET = secret_key
JWT_EXPIRES_IN = 30m

TMDB_BASE_URL = https://api.themoviedb.org/3
TMDB_API_KEY = ea8f4b8e54c39763ad29521391245594
TMDB_IMAGE_BASE_URL = https://image.tmdb.org/t/p/w500

SMTP_HOST= smtp.gmail.com
SMTP_PORT = 465
SMTP_USER =riwicine@gmail.com
SMTP_PASS= rpstsmwezsnskpid
SMTP_FROM= riwicine@gmail.com